/**
 *------
 * BGA framework: Gregory Isabelli & Emmanuel Colin & BoardGameArena
 * kaluab implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * kaluab.css
 *
 * kaluab stylesheet
 *
 */

/*
    
    (in kaluab.js).
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/


/*
    Example of CSS sprites (a black token and a white token, 20x20px each, embedded in the same "tokens.png" 40x20px image):

    .white_token {
        background-image: url('img/tokens.png');
        background-position: 0px 0px;
    }
    .black_token {
        background-image: url('img/tokens.png');
        background-position: -20px 0px;
    }
    .token {
        width: 20px;
        height: 20px;
        background-repeat: none;
    }
*/


#game_board_Wrap {
	text-align: left;
	position: relative;
}

#board_background {
	width: 620px;
	height: 300px;	
	position: relative;
	display: inline-block;
}

#hkboard {	
	background-image: url( 'img/kboard_400_265.jpg');
	width: 400px;
	height: 265px;
	position: absolute;	
}



/* 
Example of sprite from 7 Wonders?
.player_board_wonder {
    background-image: url('img/30_30_wooden_cubes.png');
    width: 330px;
    height: 30px;
    background-position: 0px 0px;
    position: relative;
} 
    
.board_wonder_step_1 {  left: 9.1%; }
.board_wonder_step_2 {  left: 18.2%; }
.board_wonder_step_3 {  left: 27.3%; }
.board_wonder_step_4 {  left: 36.4%; }
 
*/

/*
.happyblock_r {
    background-image: url(img/Cube_iso.png);
    background-position: 70% 80%;}

happyblock {
	background-image: url(img/Cube_iso.png);
	width: 640px;
	height: 64px;
}


happyblock_b {background-position: 10% 20%;}

happyblock_g {background-position: 0% 10%;}

happyblock_y {background-position: 60% 70%;}

happyblock_p {background-position: 80% 90%;}

OR

Example from Cant Stop
.token {
    position: absolute;
    width: 22px;
    height: 22px;
    background-image: url( 'img/token.png' );    
}
.token_000000, .bhikkhu {  background-position: -88px 0px; }
.token_ff0000 {  background-position: -66px 0px; }
.token_008000 {  background-position: -44px 0px; }
.token_0000ff {  background-position: 0px 0px; }
.token_ffa500 {  background-position: -22px 0px; }
/*